extend ./header
include ./components

block content 
  div.header
    +search(author)
    button.copy(title='Copy markdown to clipboard')
      i.fa.fa-copy.fa-lg

  div.container
    div.table-responsive
      table.table
        thead
          tr
            th.col-md-4 Subreddit
            th.col-md-4 Comments
            th.col-md-4 Submissions 
        tbody
          each subreddit in stats
            tr
              td 
                a(href=`/${author}/${subreddit.subreddit}`) #{subreddit.subreddit}
              td #{subreddit.comments}
              td #{subreddit.submissions}


  pre.markdown #{markdown}
