extend ./header
include ./components

block content 
  div.header
    +search(author)

  div.container
    div.table-responsive
      table.table
        thead
          tr
            th.col-md-4 Subreddit
            th.col-md-8 Total Comments
        tbody
          each subreddit in stats
            tr
              td #{subreddit.subreddit}
              td #{subreddit.count}

    div.table-responsive
      table.table.comments
        thead
          tr
            th.col-md-2 Posted 
            th.comment.col-md-10 Comment
        tbody
          each comment in comments
            tr
              td #{comment.date.toISOString().slice(0,10)}
              if comment.link
                td.wrap
                  a(href='https://reddit.com/' + comment.link) #{comment.body}
              else
                td.wrap #{comment.body}
