extend ./header

block content 
  div.header
    form(action='javascript:redirect()' autocomplete='off')
      input.search(type='text', placeholder='Search for a reddit user', name='user', onfocus="this.value=''", value=author)

  if spots && spots.length
    div.container
      div.table-responsive
        table.table
          thead
            tr
              th.col-md-3 Author
              th.col-md-7 Title
              th.col-md-2 Time
          tbody
            each spot in spots
              tr
                td.wrap 
                  a(href=`/${spot.author}/`) #{spot.author} - #{spot.score}pts
                td.wrap
                  a(href=spot.shortLink) #{spot.title}
                td #{spot.since}
