extend ./header

block content 
  div.header
    form(action='javascript:redirect()' autocomplete='off')
      input.search(type='text', placeholder='Search for another user', name='user', onfocus="this.value=''", value=author)
    button.copy(title='Copy markdown to clipboard')
      if score
        span.points #{score}pts
        i.fa.fa-copy.fa-lg

  if !comments.length && !submissions.length && !words.length && !stats.length
    img(src="https://cataas.com/cat/computer/says/Hmm, this guy seems legit")
  else
    div.container
      if stats.length
        div.table-responsive
          table.table
            thead
              tr
                th.col-md-4 Subreddit
                th.col-md-4 Comments
                th.col-md-4 Submissions 
            tbody
              each subreddit in stats
                tr
                  td 
                    a(href=`/${author}/${subreddit.subreddit}`) #{subreddit.subreddit}
                  td #{subreddit.comments}
                  td #{subreddit.submissions}

      if words.length
        div.table-responsive
          table.table
            thead
              tr
                th.col-md-2 Word
                th.col-md-10 Used
            tbody
              each word in words
                tr
                  td 
                    a(href=`/${author}/word/${word.word}`) #{word.word}
                  td #{word.count}

      if submissions.length
        div.table-responsive
          each submission in submissions
            table.table.comments
              thead
                tr
                  th.col-md-12 #{submission.date.toISOString().slice(0,10)} - #{submission.subreddit}
              tbody
                tr
                  if submission.link
                    td.wrap
                      a(href='https://reddit.com' + submission.link) #{submission.title}
                  else
                    td.wrap #{submission.title}

      if comments.length
        div.table-responsive
          each comment in comments
            table.table.comments
              thead
                tr
                  th.col-md-12 #{comment.date.toISOString().slice(0,10)} - #{comment.subreddit}
              tbody
                  tr
                    if comment.link
                      td.wrap
                        a(href='https://reddit.com' + comment.link) #{comment.body}
                    else
                      td.wrap #{comment.body}

    pre.markdown #{markdown}
